@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.form-container .form input {
    font-family:'Roboto' , sans-serif;
    background-color: transparent;
    padding: 10px 16px;
    font-size: 24px;
    color: #333;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
::placeholder {
    color: #333;
}

.form-container input:focus {
    outline: none;
}